{% extends "dashboard_base.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <!-- Sidebar and content -->
    <div class="container-fluid full-height">
        <div class="row">
            
            <!-- Sidebar -->
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column">    
                             
                        <li class="nav-item">
                            <a class="nav-link active" href="">
                                <span data-feather="dollar-sign" class="feather-icon"></span>
                                Travel Kms Paid
                            </a>
                        </li>    
                                   
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="">
                                <span data-feather="truck" class="feather-icon"></span>
                                Unpaid Travel 
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="">
                                <span data-feather="alert-circle" class="feather-icon"></span>
                                Travel > 15 kms
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2 custom-title">Travel kms Paid</h1>
                </div>

                <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
            </main>
        </div>
    </div>

{% endblock %}