{% extends "dashboard_base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <!-- Sidebar and content -->
    <div class="container-fluid full-height">
        <div class="row">
            
         <!--------------------------------------------------------------------------------------->
            <!-- Sidebar -->
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column">    
                        
                    <!-- HCP Clients -->  
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'clients-active' %}">
                                <span data-feather="users" class="feather-icon"></span>
                                Active HCP Clients
                            </a>
                        </li>                   
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'clients-new' %}">
                                <span data-feather="user-plus" class="feather-icon"></span>
                                New HCP Clients
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'clients-exited' %}">
                                <span data-feather="user-minus" class="feather-icon"></span>
                                Exited HCP Clients
                            </a>
                        </li>    
                                
                    <!-- Brokerage Clients -->
                        <hr>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'clients-brokerage' %}">
                                <span data-feather="phone" class="feather-icon"></span>
                                Brokerage Clients
                            </a>
                        </li> 

                    <!-- Clients Receiving External Services -->
                        <hr>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'clients-external-services' %}">
                                <span data-feather="external-link" class="feather-icon"></span>
                                External Services
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>


        <!--------------------------------------------------------------------------------------->
            <!-- Main content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                
                <!-- Title -->
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2 custom-title">Active HCP Clients</h1>
                </div>

                <!-- Charts -->
                <div class="row mb-4">

                    <div class="col-md-4">
                        <div id="chart-client-group" style="height:300px;"></div>
                    </div>


                    <div class="col-md-4">
                        <div id="chart-hcp-level" style="height:300PX;"></div>
                    </div>

                    <div class="col-md-4">
                        <div id="chart-area" style="height:300px";></div>
                    </div>

                </div>
            
                <!-- Paginated Table -->
                <div class="table-wrapper-compact">
                    <table class="table table-sm-custom table-zebra table-hover">
                        <!-- Table header -->
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Service Start</th>
                                <th>Group</th>
                                <th>Subgroup</th>
                                <th>HCP Level</th>
                                <th>State</th>
                                <th>Area</th>
                                <th>Case Manager</th>
                            </tr>
                        </thead>
                        
                        <!-- Table body -->
                        <tbody>
                            {% for client in page_obj %}
                            <tr>
                                <td>{{ client.client_id }}</td>
                                <td>{{ client.service_start_date }}</td>
                                <td>{{ client.client_group }}</td>
                                <td>{{ client.client_subgroup }}</td>
                                <td>{{ client.hcp_level_name }}</td>
                                <td>{{ client.state_code }}</td>
                                <td>{{ client.area }}</td>
                                <td>{{ client.case_managers }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">No active clients found.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <!-- Pagination controls -->
                    <nav aria-label="Client pagination">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">&laquo; First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled"><span class="page-link">First</span></li>
                            <li class="page-item disabled"><span class="page-link">Previous</span></li>
                            {% endif %}

                            <li class="page-item disabled">
                            <span class="page-link">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                            </span>
                            </li>

                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled"><span class="page-link">Next</span></li>
                            <li class="page-item disabled"><span class="page-link">Last</span></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
        </main>
    </div>
</div>


<script>
// Render Plotly chart - Clients by Group
    const clientGroup = {{ client_group_data|safe }};

    const config = {
        responsive: true,            // Chart auto-resizes
        displayModeBar: false        // Hides the toolbar
        };


    const data1 = [{
        y: clientGroup.map(d => d[0]),             // y-axis names
        x: clientGroup.map(d => d[1]),             // x-axis values
        type: "bar",                               // Chart type = bar
        orientation: "h",                          // Horizontal orientation
        marker: { color: "#2f3eb1" },              // Bar color
        text: clientGroup.map(d => d[1]),          // Labels inside bars
        hoverinfo: "skip",                         // Disable tooltips
    }];

    const layout1 = {
        title: {
            text: "Active Clients by Client Group",
            font: { size: 14 }
        },
        margin: { l: 120, r: 20, t: 50, b: 175 },  // Padding around the chart
        xaxis: { visible: false },                 // Hides x-axis
        yaxis: { automargin: true },               // No clipping
        showlegend: false,                         // No legend
        };
    
    Plotly.newPlot("chart-client-group", data1, layout1, config);


// Render Plotly chart - Clients by HCP Level
    const clientHCP = {{ hcp_level_data|safe }};

    const data2 = [{
        y: clientHCP.map(d => d[0]),             // y-axis names
        x: clientHCP.map(d => d[1]),             // x-axis values
        type: "bar",                               // Chart type = bar
        orientation: "h",                          // Horizontal orientation
        marker: { color: "#2f3eb1" },              // Bar color
        text: clientHCP.map(d => d[1]),          // Labels inside bars
        hoverinfo: "skip",                         // Disable tooltips
    }];

    const layout2 = {
        title: {
            text: "Active Clients by Client Group",
            font: { size: 14 }
        },
        margin: { l: 120, r: 20, t: 50, b: 50 },  // Padding around the chart
        xaxis: { visible: false },                 // Hides x-axis
        yaxis: { automargin: true },               // No clipping
        showlegend: false,                         // No legend
        };

    Plotly.newPlot("chart-hcp-level", data2, layout2, config)

</script>
{% endblock %}