{% extends "dashboard_base.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <!-- Sidebar and content -->
    <div class="container-fluid full-height">
        <div class="row">
            
            <!-- Sidebar -->
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column">    
                        
                    <!-- HCP Clients -->
                        
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'clients-active' %}">
                                <span data-feather="users" class="feather-icon"></span>
                                Active HCP Clients
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'clients-new' %}">
                                <span data-feather="user-plus" class="feather-icon"></span>
                                New HCP Clients
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'clients-exited' %}">
                                <span data-feather="user-minus" class="feather-icon"></span>
                                Exited HCP Clients
                            </a>
                        </li>    
                                
                    <!-- Brokerage Clients -->
                        <hr>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'clients-brokerage' %}">
                                <span data-feather="phone" class="feather-icon"></span>
                                Brokerage Clients
                            </a>
                        </li>

                    
                    <!-- Clients Receiving External Services -->
                        <hr>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'clients-external-services' %}">
                                <span data-feather="external-link" class="feather-icon"></span>
                                External Services
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2 custom-title">Active HCP Clients</h1>
                </div>

                <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
            </main>
        </div>
    </div>

{% endblock %}